// ------------------------
// ブレイクポイント
// ------------------------
$breakpoint-wide: 1920px; // 特大画面
$breakpoint-pc: 1280px; // PCレイアウト開始
$breakpoint-tab: 768px; // タブレット
$breakpoint-sp-max: 767px; // スマホ最大幅
$breakpoint-sp-min: 375px; // スマホ最小幅

// ------------------------
// フォント
// ------------------------
$noto-sans: "Noto Sans", sans-serif;
